/* Light theme */
body.light-theme {
  background-color: white;
  color: black;
}

/* Dark theme */
body.dark-theme {
  background-color: rgb(40 40 40/100%);
  color: rgb(227 227 227/100%);
}

table {
  border-collapse: collapse; 
  border:1px solid rgb(94 94 94/100%);
} 
table td{
  border:1px dotted rgb(94 94 94/100%);
  padding:5px;
}
table td:first-child{
  border-left:0px solid rgb(94 94 94/100%);
}

body.dark-theme table tr.alternate {
  background-color: rgb(60 60 60/100%);
}

body.light-theme table tr.alternate {
  background-color: rgb(245 245 245/100%);
}